[req]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = v3_req
distinguished_name = dn
default_days    = 1825


[ v3_req ]
subjectAltName = @alt_names
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

[ dn ]
C=US
ST=California
L=Palo Alto
O=Broadcom
OU=Hands-on Labs
emailAddress=admin@vcf.sddc.lab
CN = alb-a.site-a.vcf.lab

[ alt_names ]
DNS.1 = alb-a.site-a.vcf.lab
DNS.2 = avicon-01b.vcf.sddc.lab
DNS.3 = *.region01a.vcf.sddc.lab
DNS.4 = *.region01b.vcf.sddc.lab
DNS.5 = *.app.region01a.vcf.sddc.lab
DNS.6 = *.app.region01b.vcf.sddc.lab
DNS.7 = *.gslb.vcf.sddc.lab
DNS.8 = *.vcf.sddc.lab